@use "../mixins" as *;

.contact {
  &-info {
    padding: 16px 24px 16px 0;
    border-radius: 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 12px 6px var(--light-primary);

    @include langLtr {
      padding: 16px 0 16px 24px;
      border-radius: 16px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__wrapper {
      border-radius: 0 16px 16px 0;
      position: relative;

      @include langLtr {
        border-radius: 16px 0 0 16px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: var(--primary);
        right: -14px;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 50%;
        padding: 8px;
        width: 40px;
        height: 40px;

        @include langLtr {
          right: unset;
          left: -14px;

        }
      }
    }

    &__img-container {
      position: relative;
      border-radius: 16px 0px 0px 16px;
      // top: 11px;
      opacity: 0;
      transition: opacity 0.4s ease;
      width: 100%;

      &__animate {
        opacity: 1;
        transition-delay: .4s;
      }

      @include langLtr {
        border-radius: 0px 16px 16px 0px;
      }

      @include screen(840px) {
        border-radius: 8px !important;
      }
    }

    &__img {
      width: 100%;
      background-position: center center;
      background-size: cover;
      object-fit: cover;
      border-radius: 16px 0px 0px 16px;
      // top: 12.5px;

      @include langLtr {
        border-radius: 0px 16px 16px 0px;
      }

      @include screen(840px) {
        border-radius: 8px !important;
      }
    }
  }

  &--shadow {
    box-shadow: 0 0 4px 0 rgba(171, 167, 167, 0.5);
    border-radius: 16px;

    label {
      font-weight: bolder !important;
    }

    textarea {
      height: 167px;

      @include screen(1110px) {
        height: 174px;

        @include langLtr {
          height: 167px
        }
      }
    }
  }

  .phone-component {
    .v-text-field--filled>.v-input__control>.v-input__slot {
      max-height: 38px !important;
      border-left: 0px !important;
      border-bottom-left-radius: 0px !important;
      border-top-left-radius: 0px !important;


      @include langLtr {
        border-left: 1px solid #a5a5a5 !important;
        border-bottom-left-radius: 6px !important;
        border-top-left-radius: 6px !important;
        border-right: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;
      }

    }


    .v-input__append-outer {
      margin: 0px !important;

      .country-dropdown {
        min-height: 38px !important;
        max-height: 38px !important;

        .v-btn {
          min-height: 41px !important;
          max-height: 41px !important;
          border-radius: 6px 0 0 6px;
          margin-top: 2px !important;

          @include langLtr {
            border-radius: 0 6px 6px 0px;
          }

          span {

            font-size: 12px !important;
          }

          .v-icon {
            margin-bottom: 2px;
          }


        }
      }
    }

    .v-text-field--enclosed .v-input__append-outer {
      margin-top: 0px !important;


    }



  }
}

.row-contacts {
  @include md-and-up {
    height: 432px;
  }

  .contact-info {
    @include md-and-up {
      height: 100%
    }
  }

  .contact-info__img {
    position: relative;
    top: 12.5px;
    height: 344.5px;

    @include md-and-up {
      top: 0;
      height: 100% !important;
    }

  }
}