.cutom-slider {
  &__arrow {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 0 4px 0 rgba(121, 120, 120, 0.5);
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 2;

    &--prev {
      top: 50%;
      right: -32px;
    }

    &--next {
      top: 50%;
      left: 8px;
    }
  }
}