@use "../mixins" as *;

// Standard Vuetify 4 Dialog refinements
.v-dialog {
    .v-overlay__content {
        border-radius: 16px !important;
        
        > .v-card {
            border-radius: 16px !important;
            box-shadow: 0 0 4px 0 rgba(153, 153, 153, 0.5) !important;
        }
    }
}

.dialog__card {
    .v-card-title {
        font-size: 14px !important;
        position: relative;
        text-align: center;

        &::before {
            content: "";
            background-color: var(--primary);
            width: 140px !important;
            height: 4.5px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 4px;
        }
    }
}

.title__border {
    position: relative;
    padding-top: 10px;

    &::before {
        content: "";
        width: 150px !important;
        height: 5px;
        background-color: var(--primary) !important;
        display: block;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius:4px !important;
    }
}