@use "../mixins" as *;
.home-intro {
  &__important-card {
    box-shadow: 0 0 4px 0 rgba(165, 165, 165, 0.5) !important;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    &__img {
      width: 100%;
      height: 260px;
      padding: 6px 14px 10px 14px;
      background-size: 100% 100%;
    }

    &__title {
      font-size: 20px !important;
      line-height: normal;
      max-width: 280px;

      h4 {
        word-break: break-word;
      }
    }

    &__text {
      border-top: 1px solid #e9e9e9;
      padding: 8px 14px !important;
      margin: auto;
    }

    &__share {
      position: absolute;
      left: 40px;
      bottom: 31%;
      transform: translate(-50%, 0);
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50% !important;
      box-shadow: 0 2px 4px 0 rgba(188, 188, 188, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;

      @include langLtr {
        left: unset;
        right: 0;
      }
    }

  }

  &__icon {
    background-color: hsla(0, 0%, 100%, .6) !important;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__fav{
    background-color: red;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__tags {
    span {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 16px;
      padding: 0 6px;
      font-size: 12px;

    }
  }

  &__package {
    border-radius: 8px !important;
    height: 236px;
    padding: 0px 10px 0px 14px;
    background-size: 100% 100%;

    &-info {
      flex-direction: column;
      min-height: 80px;
      justify-content: space-between;

      h3 {
        margin-bottom: 8px;
        font-size: 20px;
      }

      &__horizontal {
        min-height: 55px;
        flex-direction: row !important;
        // align-items: center;
        justify-content: space-between;

        h3 {
          margin-bottom: 0 !important;
        }
      }
    }

    &-duration {
      display: flex !important;
      align-self: flex-end !important;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 6px !important;


    }
  }
}

.model{
  &__chip{
    display: flex !important;
    align-self: flex-end !important;
    background-color: rgba(255, 255, 255, 0.79) !important;
    border-radius: 6px !important;
    width: fit-content;
    &__top{
      @include screen (500px){
        margin-bottom: 10px;
      }
    }
  }
}
