@use "../mixins" as *;

.home-place {
    border-radius: 8px !important;
    height: 240px;
    padding: 10px 14px 20px 14px;
    background-size: 100% 100%;
    background-size: cover;

    @include mobile {
        height: 140px;
    }

    &__package {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 14px;
        width: fit-content;
        padding: 2px 8px;
        font-weight: bold;
    }

    &__title {
        max-width: 234px;
        line-height: 1.35;
        min-height: calc(1.35em * 2);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}