.intro-info {
  background-image: url("/assets/images/info-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // min-height: 149px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 45px;
  }
}