.service {
    &__header {
        min-height: 500px;
        background-color: #000;
        background-size: cover;
        &__container {
            min-height: 200px;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

.empty-services {
    h2 {
        margin-bottom: 300px;
        font-weight: 100;
        color: #000;
    }
}