@use "../mixins" as *;
.top-swiper,
.thumbs-swiper {
    .slide {
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 7px;
            object-position: center;
        }
    }
}

.top-swiper {
    height: 80%;
    width: 100%;

    .slide {
        &__layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .v-card {
                box-shadow: none !important;
                background: transparent !important;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
        }

        &__btn {
            background-color: #d8d8d8 !important;
            border-radius: 50% !important;
            padding: 8px;
            cursor: pointer;

            img {
                width: 28px;
                height: 28px;
                object-fit: cover;
                object-position: center;
            }
        }

        &__footer {
            img {
                width: 28px !important;
                height: 28px !important;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.top-swiper,
.thumbs-swiper {
    height: 480px !important;
}

.thumbs-swiper {
    box-sizing: border-box;

    .slide {
        opacity: 1;

        &:not(.swiper-slide-active) {
            opacity: 0.8;
        }

        @include md-and-up {
            width: 100% !important;
        }
    }

    @include sm-and-down {
        height: 200px !important;
        width: 100%;
    }
}

.swiper--dividers {
    .swipper__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        height: 140px;
    }

    .slide__title {
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }

    .slide__img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: initial;
        bottom: -1px;
        &::after {
            display: none !important;
            content: "" !important;
        }
    }



    .swiper-button-prev {
        @include screen(1265px) {
            right: 0;
        }
    }

    .swiper-button-next {
        @include screen(1265px) {
            left: 0;
        }
    }

}

.swiper-separator {
                position: relative;
                    &:after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        display: block;
                        height: 30px;
                        background: #d8d8d8;
                        right: -4.37px;
                        @include langLtr {
                            left: -4.37px;
                            right: unset !important;
                        }
                        @media (min-width: 959px) and (max-width: 1279px) {
                            display: none;
                        }
                    }
                @include sm-and-down {
                    &:after {
                        position: absolute;
                        content: "";
                        width: 2px;
                        display: block;
                        height: 30px;
                        background: #d8d8d8;
                        right: -2%;
                        @include langLtr {
                            left: -2%;
                        }
                    }
                }

}

.swiper--dest-buttons {
  .swiper-button-prev,
  .swiper-button-next {
      bottom: 5px !important;
      top: unset !important;
  }

  @include sm-and-down {    
    .swiper-button-prev,
    .swiper-button-next {
      bottom: -16px !important;
    }
  }


  .swiper-button-prev {
      left: 4px !important;
      right: auto !important;
  }
  .swiper-button-next {
      right: 4px !important;
      left: auto !important;
  }
}

.full-screen-swiper__heading {
    color: #000;
    background-color: #d8d8d8;
    width: fit-content;
    border-radius: 8px;
}

.full-screen-swiper {
    .slide__layer {
        position: absolute;
        top: 0;
        width: 100%;

        .v-card {
            box-shadow: none !important;
            background: transparent !important;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}

.full-screen-swiper,
.destination-swiper,
.inner__swiper .swiper-container {
    .slide {
        height: 100%;
        box-sizing: border-box;

        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }
}

.inner__swiper .swiper-container {
    height: 100%;
    width: calc(100% - 8px);
    padding: 0 4px;

    .slide {
        background-color: #d8d8d8 !important;
        border-radius: 8px;

        img {
            box-sizing: border-box;
            padding: 7px;
            border-radius: 16px;
        }
    }
}

.full-screen-swiper,
.destination-swiper {
    height: 480px !important;
    width: 100%;

    .slide {
        position: relative;

        &__btn {
            background-color: #d8d8d8 !important;
            border-radius: 50% !important;
            padding: 8px;
            cursor: pointer;

            img {
                width: 28px;
                height: 28px;
                object-fit: contain;
            }
        }

        &__footer {
            img {
                width: 28px !important;
                height: 28px !important;
                object-fit: contain;
            }
        }

        &__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            background-color: rgba(255, 255, 255, 0.77);
            padding: 15px 25px;
            border-radius: 35px;
            margin: auto;
            font-weight: bold;
        }
    }
}

.inner__swiper {
    box-sizing: content-box;
    height: 105px !important;
    position: absolute !important;
    bottom: 10px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;

    @media (min-width: 960px) {
        max-width: 900px;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: 1264px) {
        max-width: 1130px !important
    }

    .slide {
        opacity: 1;

        &:not(.swiper-slide-active) {
            opacity: 0.8;
        }
    }
}

.multiple-swiper {
    .swiper__slider {
        img {
            object-fit: cover;
        }
    }

    &__button-next,
    &__button-prev {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        margin-top: -22px;
        height: 32px;

        @include langLtr {
            left: unset !important;
        }
    }

    &__button-next {
        right: initial;
        left: 50px !important;

        @include langLtr {
            right: 12px !important;
        }
    }

    &__button-prev {
        left: 12px !important;

        @include langLtr {
            right: 50px !important
        }
    }
}

.swiper {
    &__slide-layer {
        width: 100%;
        border-radius: 5px;
        min-height: 400px;
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
        // background-size: cover;
        background-size: 100% 100%;

        .v-card {
            box-shadow: none !important;
            background: transparent !important;
            display: flex;
            flex-direction: column;
            height: 100%;
            // padding-bottom: 50px;
        }
    }

    &__slide {
        position: relative;
        height: 100%;
        box-sizing: border-box;

        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }

    &__btn {
        background-color: #d8d8d8 !important;
        border-radius: 50% !important;
        padding: 7px;
        cursor: pointer;
        height: 41px;

        img {
            width: 28px;
            height: 28px;
            object-fit: contain;
        }
    }

    &__footer {
        img {
            width: 28px !important;
            height: 28px !important;
            object-fit: contain;
        }

        @include minScreen(500px){
          display: flex;
        }
    }

    &--with-bottom-gallery {
        height: 355px !important;
        width: 100%;
    }

    &--bottom-gallary {
        box-sizing: content-box;
        position: absolute !important;
        height: 135px !important;
        background-color: #ffffff;
        border-radius: 8px;
        width: 90%;
        bottom: -85px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        z-index: 1;
        padding-left: 20px;
        padding-right: 20px;

        .slide {
            opacity: 1;

            &:not(.swiper-slide-active) {
                opacity: 0.8;
            }
        }

        .slide {
            height: 95px;
            box-sizing: border-box;

            img {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                object-fit: cover;
            }
        }

        .swiper-container {
            height: 100%;
            width: calc(100% - 8px);
            padding: 10px 4px;

            .slide {
                background-color: #e9e9e9 !important;
                border-radius: 8px;

                img {
                    box-sizing: border-box;
                    padding: 7px;
                    border-radius: 16px;
                }
            }
        }
    }
}

.wrapper-destination__inner__swiper {
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.77);
    z-index: 1;
}

.destination-inner__swiper .swiper-container {

    height: 100%;
    width: calc(100% - 8px);
    padding: 0 4px;
    .slide {
        height: 100%;
        box-sizing: border-box;

        img {
            box-sizing: border-box;
            padding: 7px;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
        }
    }
}

.destination-inner__swiper {
    box-sizing: content-box;
    height: 105px !important;
    position: absolute !important;
    bottom: 5px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;

    @media (min-width: 960px) {
        max-width: 900px;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: 1264px) {
        max-width: 1130px !important
    }

    .slide {
        opacity: 1;

        &:not(.swiper-slide-active) {
            opacity: 0.8;
        }
    }
}

.swiper-home__arrow {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(121, 120, 120, 0.5);
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.swiper-container {
    overflow-x: clip !important;
}

.swiper-button-disabled {
    opacity: 1 !important;
    cursor: pointer !important;
    pointer-events: unset !important
}

