@use "../mixins" as *;
.v-tabs {
    &--login {
        .v-tab {
            background-color: var(--grey);
            width: 50%;
            margin: 0 !important;
            &--active {
                background-color: var(--secondary);
                color: #fff !important;
            }

        }
    }

    &--car {
        .v-tab {
            border: 1px solid var(--primary) !important;
            background-color: #fff;
            margin: 0 !important;
            // padding: 20px 54px 19px 55px;
            width: 100px;
            border-radius: 0 8px 8px 0;
            color: var(--primary) !important;
            width: 163px;
            font-weight: bolder;
            @include langLtr{
                border-radius: 8px 0 0 8px;
            }

            &:last-of-type {
                border-radius: 8px 0 0 8px;
                @include langLtr{
                    border-radius: 0 8px 8px 0;
                }
            }


            &--active {
                background-color: var(--primary);
                color: #fff !important;
            }

        }
    }
}

.v-slide-group__wrapper {
    margin: 0 13px;

    .v-tabs-slider {
        display: none;
    }
}