.teamwork {
    &__item {
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            background-color: var(--primary);
            height:6px;
            width: 100%;
            border-radius: 0 0 8px 8px;
        }

        &__img {
            padding: 2px;
            border: 3px solid var(--secondary);
            object-fit: cover;
            object-position: center;
        }
    }

}