.teams{
  &__card{
    position: relative;
    min-height: 420px;
    max-height: 420px;
    border-radius: 8px !important;
    background-size: 100% 100%;
    background: var(--grey) !important;
    box-shadow: 1px 1px 3.7px 2px rgba(0, 0, 0, 0.05) !important;

    &__description{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &__unhover{
      border: none !important;
    }
    &__hover{
      border: 2px solid var(--primary) !important;
    }

    &__img-container {
      position: relative;
      background: white;
      border-radius: 16px 16px 0px 0px;
      min-height: 210px;
      max-height: 210px;

      &__img-wrapper{
        position: relative;
        width: 125px;
        height: 125px;
         .main {
              width: 125px;
              height: 125px;
              border-radius: 50%;
            }

          .first-circle{
            position: absolute;
            top: -10px;
            left: -7px;
          }
          .second-circle{
            position: absolute;
            top: -42px;
            left: 6px;
          }
         }
        }

    &__socials-container{
      &__unhover{
        background: white !important;
      }
      &__hover{
        background: var(--primary) !important;
        border-radius: 0px 0px 6px 6px !important;
      }
    }
  }
}
