.warning-alert {
    background-color: #fdece4 !important;
    border: 1px solid var(--primary) !important;

    .link {
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    .v-alert {
        &__content {
            display: flex;
            align-items: center;
        }
    }
}

.warning-alert-invoice{
  border: none !important;
  box-shadow: 0px 1px 3px 1px #00000026,0px 1px 2px 0px #0000004D !important;

}
