@use "../mixins" as *;

.about {
  &-content {
    width: 100%;
    height: 170px;
    position: relative;
    opacity: 0;
    transition: opacity 0.4s ease;

    &__animate {
      opacity: 1;
      transition-delay: .4s;
    }

    p {
      background-color: var(--dark-primary);
      border-radius: 4px;
      letter-spacing: 2px;
      position: absolute;
      right: 1%;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 24px;
      padding: 20px 12px;
      margin: 0 16px;

      @include langLtr {
        right: unset;
        left: 1%;
      }

      @include screen(600px) {
        font-size: 16px;
        letter-spacing: normal;
        padding: 12px 6px;
        margin: 0 6px;
      }
    }
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      padding: 8px;
      align-items: center;
      justify-content: center;
      background-color: var(--light-primary);
    }


  }

  &-text {
    padding: 2px;


    &__overlay {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px 16px;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
      border-radius: 16px;

      h4 {
        width: fit-content;
        padding: 2px 6px;
        border-radius: 6px;
        background-color: var(--secondary);
        color: #fff;
      }
    }
  }

  &__img-wrapper {
    position: relative;
    height: 100%;
    min-height: 75px;

    @include mobile {
      height: 150px;
    }

    @include langLtr {
      &::after {
        right: 0;
        left: unset;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -28%;
      height: 180%;
      width: 400px;
      background-image: url("/assets/images/about/tourist.webp");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 10;
      @include transition(0.3);

      @include sm-and-down {
        width: 287px;
        top: -22%;
      }

      @include mobile {
        top: -55%;
        left: 15%;
      }
    }
  }

  &-info {
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      border-style: solid;
      border-color: white transparent transparent transparent;
      border-width: 45px;
    }

    &-text {
      width: 66%;
    }
  }

  .shadow--primary {
    box-shadow: 0 3px 0 0 var(--primary);
  }

  .shadow--secondary {
    box-shadow: 0 3px 0 0 var(--secondary);
  }

  &__container-text {
    height: 85px;
    overflow: auto;
  }
}