@use "../mixins" as *;
.error {
  &__app-wrapper {
    &--402, &--429 {
        min-height: 100vh !important;
    }
  }
  &--402 &--429 {
    .error__image {
      @include screen(400px) {
        max-width: 190px !important;
      }
    }
    .error__title {
      @include screen(400px) {
        font-size: 18px !important;
        margin-top: -56px !important;
      }
    }
  }
}
