@use "../mixins" as *;

.hotel-details {
    position: relative;
    border-radius: var(--border-radius-big) !important;
    width: 100%;
    margin: 1px auto;

    &__img {
        height: 240px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        object-position: center;
    }

    &__chip {
        position: absolute !important;
        top: 12px !important;
        right: 12px !important;
        z-index: 10;
        
        @include langLtr {
            right: unset !important;
            left: 12px !important;
        }
        
        background-color: rgba(255, 255, 255, 0.8) !important;
        border-radius: 8px;
        font-weight: bold;
        color: #000 !important;
    }

    .nights_container {
        font-size: 14px;
        color: var(--primary);
    }

    .v-carousel {
        border-radius: 8px;
        
        .v-carousel__controls {
            background: transparent;
            height: 40px;
            
            .v-btn {
                width: 20px !important;
                height: 20px !important;
                margin: 0 4px;
                background: transparent !important;
                box-shadow: none !important;
                color: transparent !important; 

                .v-btn__overlay, .v-btn__underlay {
                    display: none !important;
                }
                
                .v-btn__content {
                    .v-icon {
                        font-size: 16px !important;
                        width: 16px !important;
                        height: 16px !important;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        color: #918c88 !important;
                        opacity: 1 !important;
                        transition: all 0.2s ease;
                        
                    }
                }

                &--active {
                    .v-btn__content {
                        .v-icon {
                            color: #fff !important;
                            background-color: #fff !important;
                        }
                    }
                }
            }
        }
    }

    hr {
        border: none;
        border-top: 1px solid var(--dark-gray);
        margin: 0;
    }

    p {
        line-height: 1.6;
        color: #4a4a4a;
    }
}