.intro-outline {
  display: flex;
  gap: 4px;
  .intro-one {
    background-color: var(--primary);
    width: 80px;
    height: 6px;

  }

  .intro-two {
    background-color: var(--dark-secondary);
    width: 10px;
    height: 6px;

  }

  .intro-three {
    background-color: var(--secondary);
    width: 10px;
    height: 6px;

  }

  .intro-four {
    background-color: var(--dark-primary);
    width: 80px;
    height: 6px;
  }
}