.managers {
    &__item {
        &__quarter {
            width: 126px;
            height: 115px;
            margin: -16px -17px;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 60%;
            right: 0;
            background-color: var(--primary);
            height: 50px;
            width: 3px;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 60%;
            left: 0;
            height: 50px;
            width: 3px;
            background-color: var(--secondary);
        }

        &__img {
            padding: 2px;

        }
    }

}