@use "../mixins" as *;

.minimal-footer {

    background-color: #201F3F;

    .container {
        @include minMax(961px, 1264px) {
            padding: 0 !important;
        }
    }

    &-banner {
        position: relative;


        img {
            height: 160px;

            @include sm-and-down {
                height: 96px;
            }
        }

        p {
            font-size: 40px;
            font-weight: 800;
            position: absolute;
            z-index: 2;
            left: 30%;
            top: 50%;
            transform: translate(-50%, -50%);

            @include sm-and-down {
                font-size: 24px;
            }

            @include screen(500px) {
                font-size: 14px;

            }
        }
    }

    &-links {
        max-width: 100%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            border-top: 4px solid var(--secondary);
        }

        background: rgba(40, 40, 80, 0.4);
        box-shadow: 0px 2px 4px 0px #B9B9B980;


        &__icon__wrapper {
            position: relative;
            overflow: hidden;

            width: 52px;
            height: 43px;
            border-radius: 20px;

            display: flex;
            align-items: center;
            justify-content: center;

            background:
                radial-gradient(circle at 30% 25%,
                    #3b396f 0%,
                    #2b2958 35%,
                    #201F3F 70%,
                    #17162f 100%);

            border: 1px solid rgba(255, 255, 255, .15);

            box-shadow:
                inset 0 2px 4px rgba(255, 255, 255, .15),
                inset 0 -8px 12px rgba(0, 0, 0, .35),
                0 4px 12px rgba(0, 0, 0, .25);
        }

        &__social-icon__wrapper {
            position: relative;
            overflow: hidden;

            width: 27px;
            height: 27px;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            background:
                radial-gradient(circle at 30% 25%,
                    #3b396f 0%,
                    #2b2958 35%,
                    #201F3F 70%,
                    #17162f 100%);

            border: 1px solid rgba(255, 255, 255, .15);

            box-shadow:
                inset 0 2px 4px rgba(255, 255, 255, .15),
                inset 0 -8px 12px rgba(0, 0, 0, .35),
                0 4px 12px rgba(0, 0, 0, .25);
        }


    }

    &-important-links {
        padding-inline: 6%;

        @include screen(960px) {
            padding-inline: 0%;
        }
    }

    .seperator {
        height: 1px;
        width: 100%;
        background: rgba(32, 31, 63, 1);
        box-shadow: 0px 1px 2px 1px rgba(185, 169, 185, 0.5);
    }

    &-info {
        // background-color: #f5f5f5;
        padding-inline: 5%;

        @include screen(1280px) {
            padding-inline: 0%;
        }
    }

    &-text {
        position: relative;
        display: inline-block;
        font-size: 18px;
        margin-bottom: 5px;

        &::after {
            content: "";
            position: absolute;
            bottom: -4px;
            right: 0px;
            height: 1px;
            width: 100%;
            background: rgba(32, 31, 63, 1);
            box-shadow: 0px 1px 2px 1px rgba(185, 169, 185, 0.5);

            @include langLtr {
                right: unset;
                left: 0px;
            }
        }
    }

    .payment-methods {
        position: relative;
        overflow: visible;
        max-width: 45%;

        @media (max-width: 960px) {
            max-width: 100%;
        }

        .payment-method {
            flex: 0 0 14%;
            max-width: 14%;

            @media (max-width: 960px) {
                flex: 0 0 9.33%;
                max-width: 9.33%;
            }

            @media (max-width: 600px) {
                flex: 0 0 20%;
                max-width: 20%;
            }
        }

        .hover-wrapper {
            position: relative;
            display: flex;
            justify-content: center;

        }

        .hover-content {
            position: absolute;
            bottom: -35px;
            left: 50%;
            transform: translateX(-50%) translateY(-10px);

            opacity: 0;
            transition: 0.3s;

            z-index: 11;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            padding: 10px 16px;

        }

        .hover-text {
            font-size: 11px;
        }
    }

    .payment-methods .hover-wrapper:hover .hover-content {
        opacity: 1;
        // transform: translateX(-50%) translateY(0);
    }

    .v-tooltip .v-overlay__content {
        background-color: var(--secondary);
        opacity: 0.9;
    }

    &__bottom {
        background-color: #201F3F;
        box-shadow:
            0 8px 32px rgba(31, 38, 135, 0.15),
            0 2px 8px rgba(255, 255, 255, 0.1) inset;
    }
}