@use "../mixins" as *;
.news-letter {
  .v-text-field--rounded>.v-input__control>.v-input__slot {
    padding-left: 0 !important;

    @include langLtr {
      padding-right: 0 !important;
      padding-left: 10px !important;
    }
  }

  .v-input__append-inner {
    margin: 0 !important;
  }

  &__btn {
    border-radius: 24px !important;

  }
  &__img {
    height: 300px;
    
  }
}