@use "../mixins" as *;

.notification-popup {
  position: relative !important;
  width: 100% !important;
  border-radius: 16px !important;
  height: 86vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

  @include screen(500px) {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    border-radius: 16px !important;
  }

  .notification-popup-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;

    .v-card__text {
      @include screen(440px) {
        padding-left: 12px !important;

        @include langLtr {
          padding-left: 8px !important;
          padding-right: 12px !important;
        }
      }
    }
  }

  .bar {
    width: 136px;
    height: 6px;
    background-color: var(--primary);
    border-radius: 4px;
  }

  .v-list-item__content {
    border-radius: 10px;
    background-color: #fff;
  }

  .lg-actions-container {
    @include screen(440px) {
      display: none !important;
    }
  }

  .sm-actions-container {
    @include minScreen(441px) {
      display: none !important;
    }
  }

  .v-subheader {
    height: 10px !important;
  }

  .read-notification {
    background-color: var(--light-gray) !important;
  }

  .notification-text {
    max-width: 250px;
    font-size: 14px;

    p {
      margin-top: 5px;
      color: rgba(0, 0, 0, 0.6) !important;
      margin-bottom: 10px !important;
      min-height: 50px;
      line-height: 1.2;

      // max-height: 64px;
      @include screen(440px) {
        min-height: 45px;
        max-height: 45px;
        font-size: 12px !important;
      }
    }

    h3 {
      font-size: 18px !important;

      @include screen(440px) {
        font-size: 15px !important;
      }
    }
  }

  .v-list-item__subtitle {
    font-weight: 500 !important;
  }

  .notification-icon {
    background-color: #fff;
    border-radius: 5px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      // width:28px;
      font-size: 19px;
    }
  }

  .read-notification-icon {
    background-color: var(--light-primary) !important;
    border-radius: 5px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      // width:28px;
      font-size: 19px;
    }
  }

  .action-btn {
    color: black;
    font-size: 14px;
    text-transform: none;
    cursor: pointer;

    span {
      font-size: 12px;
    }
  }

  .sticky-button {
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 10;
    width: 100%;
    color: var(--primary) !important;
    border-radius: 16px;
    height: 52px !important;
    max-height: 52px !important;
  }
}

.v-overlay.notification-wrap,
.v-overlay.profile-notification-wrap {
  z-index: 99999999 !important;

  .v-overlay__scrim {
    top: var(--overlay-top, 120px) !important;
    border-radius: 0px !important;
    height: calc(100vh - var(--overlay-top, 120px)) !important;
    margin-top: 0px !important;
  }

  .v-overlay__content {
    position: fixed !important;
    top: var(--overlay-top, 120px) !important;
    height: calc(100vh - var(--overlay-top, 120px)) !important;
    margin-top: 0px !important;
    width: 100% !important;
    max-width: 500px !important;
    pointer-events: none !important;

    @include screen(500px) {
      width: 100% !important;
      max-width: 100% !important;
      left: 0 !important;
      right: 0 !important;
    }

    .notification-popup {
      pointer-events: auto !important;
    }
  }

  &.right {
    .v-overlay__content {
      right: -22px !important;
      left: auto !important;
      @include screen(600px) {
      right: auto !important;
    }
    }

  }

  &.left {
    .v-overlay__content {
      left: -22px !important;
      right: auto !important;
      @include screen(600px) {
      left: auto !important;
    }
    }
  }
}

.v-overlay.res-notification-wrap {

  .v-overlay__scrim,
  .v-overlay__content {
    top: 64px !important;
    height: calc(100vh - 64px) !important;
  }
}

.empty-notification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 140px;

  p {
    font-size: large;
  }

}