.v-pagination {
    .v-pagination__list {
        padding-left: 0;

        .v-pagination__item{
            color: transparent !important;
            background-color: transparent !important;
        }

        .v-pagination__item,
        .v-pagination__prev,
        .v-pagination__next {
            .v-btn {
                border-radius: 6px !important;
                // background-color: #EEEEEE !important;
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
                color: #A5A5A5 !important;
                border: none !important;
                margin: 0 4px;
                min-width: 30px !important;
                width: 30px !important;
                height: 30px !important;
                transition: .3s cubic-bezier(0, 0, .2, 1) !important;

                .v-btn__overlay, 
                .v-btn__underlay {
                    display: none !important;
                }

                .v-btn__content {
                    color: inherit !important;
                    font-weight: 500;
                }
            }
        }
       
        .v-pagination__item--is-active {
            .v-btn {
                background-color: var(--primary) !important;
                color: #fff !important;
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
                transform: scale(1.1);

                .v-btn__content {
                    color: #fff !important;
                }
            }
        }

        .v-pagination__prev, 
        .v-pagination__next {
            .v-btn {
                background-color: #fff !important;
                
                i {
                    color: var(--primary) !important;
                }

                &.v-btn--disabled {
                   opacity: 0.5;
                   background-color: #fff !important;
                   i {
                       color: #A5A5A5 !important;
                   }
                }
            }
        }
    }
}