@use "../mixins" as *;
.reservations {
    min-height: 260px;
    background-size: cover;
    &__container {
        background: rgba(255, 255, 255, 0.7)
    }
}

.booking-title{
    font-size: 30px;
    @include screen(960px){
        font-size: 20px;
    }
}

.booking-description{
    color: #454545;
    font-size: 24px;
    @include screen(960px){
        font-size: 15px;
    }
}