:root {
    --primary: #fff;
    --dark-primary: #84b4fb;
    --light-primary: #e2ebf9;
    --secondary: #fff;
    --dark-secondary: #cce59d;
    --light-secondary: #f4f9eb;
    --grey: #f5f5f5;
    --middle-gray: #A5A5A5;
    --less-gray: #E9E9E9;
    --dark-gray: #d2d1d1;
    --border-radius-small: 8px;
    --border-radius-big: 16px;
    --font-family: 'tajwal';
}